doctype html
html
  body(style='margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #ECF0F1;')
    header.text-center(style='padding: 1em;background-color: #34495E;margin-bottom: 1em;text-align: center;')
      .logo(style='margin: auto;max-width: 500px;display: flex;align-items: center;')
        img(src=logo,  style='width: 5rem;height: 5rem;')
        h1(style='font-family: Palatino;font-size: 1.5em;margin: 21px;color: white;') #{__('SCADA/IoT')}
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;')
      h1(style='font-family: Palatino;font-size: 1.5em;') #{__('Hi,')}
      p(style="color: #34495E;")
        | #{__('A password reset request was made, but no account was found associated with this email address.')}
      a.reset-btn(href=url, style='color: #2980B9;display: block;text-align: center;text-decoration: none;padding: 0.5em;font-size: 1.2em;border: 5px solid #2980B9;border-radius: 3px;margin: 1em;margin-right: auto;margin-left: auto;') #{__('Sign up')}
      p.text-small.margin-2(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;') #{__("If you did not make this request, you can safely ignore this email.")}
